@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:400,700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');

/* Set body background color */
body {
  font-family: "EB Garamond", serif;
  background-color: #f5f5f5;
}

/* Set section background color */
section {
  background-color: #fff;
}

.navbar-brand {
  color: white;
  font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
  font-size: 1.4rem;
  font-weight: 450;
}

.nav-link {
  color: white;
  font-weight: 700;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* Set section padding */
section {
  padding: 80px 0;
}

/* Set row margin */
.row {
  margin-bottom: 30px;
}

.card {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card-body {
  text-align: left;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Set speaker picture width and height */
.speaker-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Set speaker name font size and margin */
.speaker-name {
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Set speaker title font size and margin */
.speaker-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Set button margin */

.btn-primary {
  background-color: #fc9904;
  border-color: #fc9904;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: #d1a03e;
  border-color: #d1a03e;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 0.9rem;
}

.footer1{
  background-color: #d1a03e;
  color: #d1a03e;
}
.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  color: #fff;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.footer-links li a:hover {
  color: #e0b049;
  text-decoration: none;
}

.newsletter-form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-form input[type="email"] {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 300px;
  margin-right: 50px;
}

.newsletter-form button {
  background-color: #e0b049;
  border-color: #e0b049;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  padding: 10px 30px;
  transition: background-color 0.2s ease-in-out;
}

.newsletter-form button:hover {
  background-color: #d1a03e;
  border-color: #d1a03e;
}